/*
Paleta de colores:
 #F3F3F3 gris claro
 #D9D9D9 gris intermedio
 #454545 gris oscuro
 #FF6000 anaranjado 1
 #FFA559 anaranjado 2
 #FFE6C7 anaranjado 3

Fuentes tipograficas:
 font-family: Montserrat
 font-family: verdana
 font- weight: 100
 font- weight: 200
 font- weight: 400

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

/*estilos general de todo el proyecyo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    color: #ffff;
}

body{
    background-color: #F3F3F3;
}

/*-----Header barra de navegacion-----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FF6000; 
    position: sticky;
    top: 0;
}

.LogoNav{
    padding: .625rem; /*10px*/
    margin: auto 1.875rem;/*30px*/
}

.LogoNav a{
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

.LogoNav .LogoHeader{
    width: 1.875rem; /*30px*/
    height: 1.875rem; /*30px*/
    padding: .1875rem; /*3px*/
    margin: 0rem .625rem;/*10px*/
}

.LogoNav .IconBurger{
    display: none;
}

.LogoNav h2{
    font-family: 'Montserrat',sans-serif,bold;
    font-size: 1.5625rem;/*25px*/
}

.NavBar {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.NavBar li{ 
    list-style: none;
    padding: 1.25rem 0rem;/*20px 0px*/
}

.NavBar li a {
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 1rem;/*16px*/
    font-weight: 400; /*20px*/
    padding: 20px;
    color: #ffffff;
}

.NavBar li:hover{
    background-color: #FFA559;
    cursor: pointer;
    border-radius: .125rem; /*2px*/
}

/*-----Index-----*/
/* Main section 1: foto de fondo, slogan, boton empezar */

.SectionPrincipal {
    width: 100%;
    height: 23.75rem; /*380px*/
    padding: 0;
    margin: 0;
    background-image: url(../assets/img/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.SectionPrincipal h1 {
    padding: 4.375rem 0rem 6.25rem 0rem;/*70px 0px 100px 0px*/
    font-family: 'Montserrat', sans-serif,bold;
    font-size: 2.5rem;/*40px*/
}

.SectionPrincipal button {
    background-color: #FF6000;
    border-radius: .3125rem;/*5px*/
    border: none;
    padding: .75rem;/*12px*/
}

.SectionPrincipal button a{
    text-decoration: none;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
    font-size: 1.25rem;/*20px*/
    color: #ffffff;
}

.SectionPrincipal button:hover{
    background-color: #FFA559;
}

/* Main section 2: Cards */

.SectionCards{
    display: inline-block;
    width: 100%;
    background-color: #F3F3F3;
}

.SectionCards h2{
    text-align: center;
    padding: .9375rem; /*15px*/
    margin: .625rem; /*10px*/
    color: #FF6000;    
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 2.5rem;/*40px*/
}

.ContentCards{
    display: flex;
    align-items: center;
}

.CardsInfo{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 21.875rem;/*350px*/
    height: 15.625rem;/*250px*/
    padding: 1.25rem; /*20px*/
    margin: 3.125rem  1.875rem; /*50px 20px*/
    text-align: center;
    align-items: center;
    box-shadow: 0.625rem 0.625rem 2.5rem rgba(0, 0, 0, 0.6);/*10px 10px 40px*/
    border-radius: .625rem; /*10px*/
    background-color: #FF6000;
}

.CardsInfo img{
    width: 5rem; /*80px*/
    height: 5rem; /*80px*/
    padding: .625rem; /*10px*/
    margin: .625rem; /*10px*/
}

.CardsInfo .ContentText h3{
    padding: .625rem .3125rem; /*10px 5px*/
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 1.25rem; /*20px*/
}

.CardsInfo .ContentText p{
    font-family: verdana;
    font-size: .9375rem; /*15px*/
}

/*----- Footer -----*/

.DivFooter{
   margin-top: 70px;
}

/*-----Login-----*/
.Login{
    display: flex;
    justify-content: center;
}

.LoginContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    align-items: center; 
    box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    background-color: #ffffff;
}

.LoginContainer h2{  
    color: #454545; 
    font-family: 'Monserrat', sans-serif,bold;
    font-size: 18px;
    font-weight: 100;
}

.LoginContainer h3{
    padding: 2px 0px;  
    color: #454545; 
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
}

.AnclasForm a{
    display: block;
    padding: 2px;
    margin: 6px 0px 0px 0px;
    color: #454545;
    text-align: center;
    text-decoration: none;
    font-family: 'Monserrat', sans-serif;
}

.MediaSocialForm .IconGoogle{
    padding: 10px;
    margin: 0px 15px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.MediaSocialForm .IconFacebook{
    padding: 10px;
    margin: 0px 15px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

/*-----Register-----*/
.Register{
    display: flex;
    justify-content: center;
}

.RegisterContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    align-items: center; 
    box-shadow: 0.625rem 0.625rem .625rem rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
    background-color: #ffffff;
}

.RegisterContainer h2{  
    color: #454545; 
    font-family: 'Monserrat', sans-serif,bold;
    font-size: 18px;
    font-weight: 100;
}

.RegisterContainer h3{
    padding: 5px 0px;  
    color: #454545; 
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
}

/*-----Dashboar-----*/
.GridDashBoard{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 100vh;
    grid-template-areas: 
    "HeaderDB MainDB"
    "HeaderDB ContentDB"
    ;
}

.GridDashBoard a{
    color: white;
}

.GridDashBoard a:hover{
    color: white;
}

/*Header lateral grid*/
.GridHeader{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #FF6000;
    grid-area: HeaderDB;
}

.ProfileUser{
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.ProfileUser img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
}

.ProfileUser h2 a{
    padding: 5px;
    margin: 8px 2px;
    font-family: 'Monserrat',sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.ProfileUser h2 a:hover{
    font-size: 22px;
    cursor: pointer;
}

.ContainerMenu{
    width: 100%;
}

.ContainerMenu .NavBarVertical{
    text-align: center;
    font-family: 'Monserrat',sans-serif;
    font-size: 20px;
}

.NavBarVertical{ 
    margin: 0;
    padding: 0;
}

.NavBarVertical li{ 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1.25rem;/*20px*/
}

.NavBarVertical li a {
    text-decoration: none;
    font-family: verdana;
    font-size: 1.25rem; /*20px*/
    padding: auto ;
}

.NavBarVertical li:hover{
    background-color: #FFA559;
    cursor: pointer;
    border-radius: .125rem; /*2px*/
}

.Item1{
    background-color: #FFA559;
}

/*Main o 2do Header horizontal*/
.GridMain{
    display: flex;
    justify-content: space-between;
    grid-area: MainDB;
}

.GridMain h2{
    margin: 20px 0px 0px 50px;
    color: #454545;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}

.ContainerSearch{
    margin: 20px 30px 0px 0px;
}

.ContainerSearch img{
    width: 15px;
    height: 15px;
    position: absolute;
    margin: 7px;
}

.ContainerSearch input{
    width: 350px;
    height: 30px;
    padding: 0px 0px 0px 30px;
    border-radius: 5px;
    color: #454545;
    font-family: verdana;
    border-style: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
}

/*ContenedorGrid*/
.GridContent{
    width: 85%;
    height: 600px;
    margin: 30px auto;
    background-color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0.625rem 0.625rem .625rem rgba(0, 0, 0, 0.2); 
    grid-area: ContentDB;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.LineDecoration{
    position:sticky;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: #FF6000;
    border-radius: 2px;
}

.ContainerInfo form input,label{
    color: #454545!important;
}

.ContainerInfo li button{
    color: #FF6000;
}

.ContainerInfo li button:hover{
    color:#FFA559;
}
/*Formulario pestana Nuevo*/
.tab-content .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

.form-group{
    padding: 10px;
    margin: 10px;
}

.ContainerInfo h2{
    margin: 200px 0px;
    text-align: center;
    font-family: 'Monserrat',sans-serif;
    font-size: 40px;
    color: #454545;
}

/*-----Page Configuracion-----*/
/* Header */
.ContainerConfigHeader{
    display: flex;
}

.ContainerConfigHeader img{
    width: 35px;
    height: 35px;
    margin: 10px 60px;
}

.ContainerConfigHeader h2{
    display: flex;
    align-items: center;
    font-family: 'Monserrat',sans-serif;
    font-size: 25px;
}

/* Main */
.ContainerConfigInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.ContainerConfigInfo h2{
    padding: 10px;
    margin: 10px;
    color: #454545;
    font-family: 'Monserrat',sans-serif;
    font-size: 25px;
}

.CardConfig{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
    margin: 0;
}

.CardHeader{
    background-color: #F3F3F3;
    box-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.2); 
}

.GridHeaderCard{
    display: grid;
    height: 90px;
    grid-template-columns: 60px 100%;
    grid-template-rows: 150px;
    grid-template-areas:
    "ImgProfile DataUser"
    ;
}

.ProfileUserImg{ 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
    grid-area: ImgProfile;
}

.CardHeader .IconUpdate{
    position: absolute;
    margin: 50px 0px 0px 65px;
}

.DateUser{
   display: block;
   margin: 10px;
   grid-area: DataUser;
}

.DateUser h2{
    font-family: 'Monserrat',sans-serif,bold;
    font-size: 25px;
    margin: 0px 40px;
    padding: 5px;
    color: #454545;
}

.CardHeader .DateUser h3{  
    font-family: 'Monserrat',sans-serif;
    font-size: 12px;
    margin: 0px 40px;
    padding: 5px;
    color: #454545;
}

.ProfileSection{
    display: flex;
    align-items: center;
    padding: 25px;
    box-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.2);
}

.ProfileSection:hover{
    background-color: #F3F3F3;
    cursor: pointer;
}

.ProfileSection .IconItem{
    width: 30px;
    height:30px;
    margin: 0px 25px;
}

.ProfileSection h2{
    margin: 0;
    padding: 2px 35px;
    font-size: 16px;
}

.ProfileSection .IconRight{
    width: .625rem;
    height: .625rem;
    position: absolute;
    right: 15.625rem;
}

/*----- estilos responsivos para portil(laptos) ------*/
@media(max-width: 1024px){
    /*----- Index.html Responsive ------*/
    .NavBar li a{
        font-size: .875rem;
    }
    
    .SectionPrincipal {
        height: 17.5rem; /*280px*/
    }

    .SectionPrincipal h1 {
        padding: 4.375rem 0rem 1.25rem 0rem;
        font-size: 1.5625rem;/*25px*/
    }

    .SectionPrincipal button {
        padding: .75rem; /*12px*/
    }

    .SectionPrincipal button a{
        font-size: .9375rem; /*15px*/
    }

    .SectionCards h2{
        padding: .375rem .375rem .25rem .375rem; /*6px*/
        margin: .3125rem; /*5px*/  
        font-size: 1.875rem;/*30px*/
    }

    .CardsInfo{
        width: 15.625rem;/*250px*/
        height: 14.375rem;/*220px*/
        padding: 1.25rem; /*20px*/
        margin: 1.875rem  1.875rem 3.125rem 1.875rem; /*30px 30px 50px 30px*/
    }

    .CardsInfo img{
        width: 3.75rem; /*60px*/
        height: 3.75rem; /*60px*/
        padding: .5rem; /*8px*/
        margin: .5rem; /*8px*/
    }

    .CardsInfo .ContentText h3{
        
        padding: .3125rem; /*5px*/
        font-size: 1.125rem; /*18px*/
    }

    .CardsInfo .ContentText p{
        font-size: .75rem; /*12px*/
    }

    /*----- Login.html responsive ------*/

    
}

/*----- estilos responsivos para Tablets ------*/
@media(max-width: 768px){
    /*----- Index.html Responsive ------*/
    header .LogoNav h2{
        display: none;
    }
    
    .SectionPrincipal {
        height: 220px; /*300px*/
    }

    .SectionPrincipal h1 {
        padding: 3.125rem 0rem 1.25rem 0rem;/*50px 0px 20px 0px*/
        font-size: 1.25rem; /*20px*/
    }

    .SectionPrincipal button {
        padding: .5rem;/*8px*/
    }

    .SectionPrincipal button a{
        font-size: .75rem;/*15px*/
    }

    .SectionCards h2{
        padding: .25rem; /*4px*/
        margin: .1875rem; /*3px*/  
        font-size: 1.25rem; /*20px*/
    }

    .CardsInfo{
        width: 280px;/*250px*/
        height: 160px;/*160px*/
        padding: .3125rem; /*20px*/
        margin: .625rem 1.25rem 1.875rem 1.25rem; /*20px 20px 30px 20px*/
    }

    .CardsInfo img{
        width: 2.8125rem; /*45px*/
        height: 2.8125rem; /*45px*/
        padding: .3125rem; /*5px*/
        margin: .3125rem; /*5px*/
    }

    .CardsInfo .ContentText h3{
        padding: .3125rem ; /*5px*/
        font-size: .9375rem; /*15px*/
    }

    .CardsInfo .ContentText p{
        font-size: .625rem; /*10px*/
    }

    /*----- Login.html responsive ------*/

}

/*----- estilos responsivos para Celulares ------*/
@media(max-width: 425px){
    /*----- Index.html Responsive ------*/
    .LogoNav .LogoHeader{
        display: none;
    }

    header .LogoNav h2{
        display:flex;
    }

    header .IconBurger{
        position: absolute;
        right: 20px;
    }

    .LogoNav .IconBurger{
        display: block;
        width: 2.1875rem;
        height: 2.1875rem;
    }

    .NavBar{
        display: none;
    }

    .SectionPrincipal {
        height: 150px; /*300px*/
    }

    .SectionPrincipal h1 {
        padding: 1.875rem 0rem .9375rem 0rem; /*30px 0px 15px 0px*/
        font-size: .75rem; /*12px*/
    }

    .SectionPrincipal button{
        padding: .25rem; /*4px*/
    }

    .SectionPrincipal button a{
        font-size: .75rem; /*12px*/
    }

    .SectionCards {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "H2"
        "SectionCards"
        ;
    }

    .SectionCards h2{
        padding: .25rem; /*4px*/
        margin: .1875rem; /*3px*/  
        font-size: .9375rem; /*15px*/
        grid-area: H2;
    }

    .ContentCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "card1 card2"
        "card3 card4"
        ;
        grid-area: SectionCards;
        margin: auto;
    }

    .ContentCards .ItemCard1{
        grid-area: card1;
    }

    .ContentCards .ItemCard2{
        grid-area: card2;
    }

    .ContentCards .ItemCard3{
        grid-area: card3;
    }

    .ContentCards .ItemCard4{
        grid-area: card4;
    }

    .CardsInfo{
        width: 8.75rem; /*140px*/
        height: 8.75rem; /*120px*/
        padding: .3125rem; /*5px*/
        margin: 1.875rem 1.25rem 1.875rem 1.25rem; /*20px 20px 30px 20px*/
    }

    .CardsInfo img{
        width: 1.875rem; /*45px*/
        height: 1.875rem; /*45px*/
        padding: .3125rem; /*5px*/
        margin: .3125rem; /*5px*/
    }

    .CardsInfo .ContentText h3{
        padding: .3125rem ; /*5px*/
        font-size: .9375rem; /*15px*/
    }


    .CardsInfo .ContentText p{
        font-size: .5rem; /*10px*/
    }

    /*----- Login.html responsive ------*/

}